button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: var(--background-color);
  color: var(--accent-color);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: none;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: var(--primary-color);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--secondary-color) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: var(--secondary-color);
  color: hsl(0, 0%, 100%);
  box-shadow: var(--primary-color) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}